html, body{
    height: 100%;
}
body{
    overflow-y: scroll;
}

.grid{
    display: grid;
    grid-template-columns: 20% 1fr;
    height: 100%;
    grid-template-rows: auto 1fr;
}
.light-green-box{
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: lightgreen;
    color: grey
}
.rainbow-box{
    grid-column: 2/3;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.persian-green{
    text
    grid-column: 1;
    grid-row: 2;
    height: 1fr;
    background-color: lightgreen;
    color: darkgray;
}
