body{
    box-sizing: border-box;
    background-color: green;
}
h1 {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
}
.layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
#red {
    background-color: red;
    display: inline-block;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    display: block;
    border: 1px solid black;
}
#yellow {
    background-color: yellow;
    display: inline-block;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    display: block;
    border: 1px solid black;
}
#green {
    background-color: greenyellow;
    display: inline-block;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    display: block;
    border: 1px solid black;
}
#brown {
    background-color: brown;
    display: inline-block;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    display: block;
    border: 1px solid black;
}
#blue{
    background-color: blue;
    display: inline-block;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    display: block;
    border: 1px solid black;
}
#pink{
    background-color: hotpink;
    display: inline-block;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    display: block;
    border: 1px solid black;
}
#black{
    background-color: black;
    display: inline-block;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    display: block;
    border: 1px solid black;
}

#player1{
    border-radius: 0;
    width: 10em;
    height: 5em;
    border: 3px solid black;
    background-color: white;
    float: left;
}
#player2{
    border-radius: 0;
    width: 10em;
    height: 5em;
    border: 3px solid black;
    background-color: white;
    float: right;
}
.container{
    grid-column: 1/4;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    width: 100%;
    background-color: green;
    border: 0px;
    padding: 1em 1em;
}
.scores{
    grid-row: 1;
    grid-column: 1/4;
    border: 0;
}
.tags{
    display: block;
    border: 0px;
    width: 100%;
}
.P1{
    float: left;
    padding-left: 2em;
}
.P2{
    float: right;
    padding-right: 3em;
}
#current-break {
    border-radius: 0;
    width: 10em;
    height: 5em;
    border: 3px solid black;
    background-color: white;
    text-align: center;
}
.breaker{
    grid-row: 3;
    grid-column: 2;
    width: 100%;
    border: 0px;
}
